/*INFO DE CARTAS  */

/*.cartainfo {
    width: 30%;
    float:left;
    margin-left: 2em;
    margin-right: 1em;
  }
  
  .rarezainfo {
    width: 13%;
      display: grid;
      float:inherit;
      margin-left: 17.5ch;
  }
  
  .botonesmargen {
    margin-top: 10em;
   
  }
  .searchmargen {
    margin-top: 10em;
  }
  .nivel_rareza_info {
    width: 40px;
  }
  
  .atributo_info {
  
    width: 40px;
  }
  
  .span_info {
    text-align: justify !important;
   
  }

  .ocultarinfo{
    display: none   ;
  }

  @media only screen and (max-width: 600px) {
    .rarezainfo{
      width: 13%;
    display: grid;
    margin-left: 10.8ch;
    }


  }
  
  @media only screen and (min-width: 768px   )
  and  (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .rarezainfo{
      width: 13%;
    display: grid;
    margin-left: 10.8ch;
    }

  }
  */