.card {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-title {
  position: absolute;
  bottom: 0; /* Colocamos el título en la parte inferior */
  left: 50%;
  transform: translate(-50%, 10%); /* Ajustamos el título un poco más abajo */
  font-weight: bold;
  border-radius: 4px;
  width: 100%; /* Para que el fondo del título ocupe el ancho completo */
  padding: 8px 16px; /* Modifica el padding según tus preferencias */
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  border-radius: 4px;
  pointer-events: none;
}


  
 /* .card-img-top {
    transform: scale(1);
  } */
  
 /* .card-img-top:hover {
    transform: scale(1.8);
  }
  */