:root {
  --font-principal: 'Quicksand', sans-serif;
}
html,
body {
  padding: 10;
  margin: 0;
  font-family: var(--font-principal);
  background: linear-gradient(to bottom, #010609, #0d2030);
}

.container {
  max-width: 100%; /* Reducir el ancho del contenedor al 90% */

}

p, h1, h2, h3, h4, h5{
  font-family: 'Quicksand', sans-serif ;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.mb-2, .form-control {
  font-family: 'Quicksand', sans-serif;
}

/* Estilo personalizado para el elemento select */
select {
  font-family: var(--font-principal) !important; /* Utiliza la variable --font-principal */
  /* Otros estilos personalizados para el elemento select */
}
select option {
  font-family: var(--font-principal) !important; /* Utiliza la variable --font-principal */
  /* Otros estilos personalizados para las opciones */
}
/* Estilo personalizado para botones */
button {
  font-family: var(--font-principal) !important;
  /* Otros estilos personalizados para los botones */
}

/* Estilo personalizado para los textos dentro de las tablas */
table {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para las tablas */
}

/* Estilo personalizado para los encabezados de tabla */
th {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para los encabezados de tabla */
}

/* Estilo personalizado para los datos de tabla */
td {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para los datos de tabla */
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/*ESTILOS PARA EL RELOJ CUENTA REGRESIVA*/
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  margin: 0 10px;
  text-align: center;
}

.countdown-number {
  font-size: 2em;
  font-weight: bold;
}

.login-button {
  border: 2px solid #000; /* Define el color del borde */
  padding: 5px 10px;
  margin-left: auto; /* Alinea el botón a la derecha */
  display: block; /* Si es necesario */
  cursor: pointer;
  text-align: center;
}
