:root {
  --font-principal: 'Quicksand', sans-serif;
}
html,
body {
  padding: 10;
  margin: 0;
  font-family: var(--font-principal);
  background: linear-gradient(to bottom, #010609, #0d2030);
}

.container {
  max-width: 100%; /* Reducir el ancho del contenedor al 90% */

}

p, h1, h2, h3, h4, h5{
  font-family: 'Quicksand', sans-serif ;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

.mb-2, .form-control {
  font-family: 'Quicksand', sans-serif;
}

/* Estilo personalizado para el elemento select */
select {
  font-family: var(--font-principal) !important; /* Utiliza la variable --font-principal */
  /* Otros estilos personalizados para el elemento select */
}
select option {
  font-family: var(--font-principal) !important; /* Utiliza la variable --font-principal */
  /* Otros estilos personalizados para las opciones */
}
/* Estilo personalizado para botones */
button {
  font-family: var(--font-principal) !important;
  /* Otros estilos personalizados para los botones */
}

/* Estilo personalizado para los textos dentro de las tablas */
table {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para las tablas */
}

/* Estilo personalizado para los encabezados de tabla */
th {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para los encabezados de tabla */
}

/* Estilo personalizado para los datos de tabla */
td {
  font-family: var(--font-principal);
  /* Otros estilos personalizados para los datos de tabla */
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/*ESTILOS PARA EL RELOJ CUENTA REGRESIVA*/
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  margin: 0 10px;
  text-align: center;
}

.countdown-number {
  font-size: 2em;
  font-weight: bold;
}

/* Estilos para el botón de login */
.login-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Empuja el botón hacia la derecha */
}

.login-button:hover {
  background-color: #2980b9;
}

/* Estilos para la imagen de usuario */
.user-image {
  width: 40px; /* Ajusta el ancho según tus preferencias */
  height: 40px; /* Ajusta la altura según tus preferencias */
  border-radius: 50%; /* Esto crea una forma circular para la imagen */
  margin-right: 10px; /* Añade margen a la derecha para separar la imagen del contenido */
}

/* Estilos para la navegación responsive */
.responsive_nav {
  display: block;
}

/* Resto de tus estilos */
