.decksimage{
    display: flex;
    grid-template-columns: 100px 100px 100px 100px 100 100px 100px 100px;
    min-height: 0;
    width:100%;
    clear: both;

    padding: 5px;
    gap: 8  px;
}

.gridbuscarcarta {
    display: grid;
    width: 50%;
    margin-top: 10em;
}

.nombresdecks{
    font-size:smaller;
    text-align: justify;
}

/* COMIENZAN LOS ESTILOS DEL FILTRADO */
.container-filtrado {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 10px;
  }
  
  select {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  select:focus {
    outline: none;
    border: 1px solid #666;
  }
  
  button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #aaa;
  }
  
  @media screen and (max-width: 600px) {
    .container-filtrado {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    select {
      width: calc(33.33% - 10px);
      margin-right: 10px;
      margin-bottom: 0;
    }
  
    select:last-of-type {
      margin-right: 0;
    }
  
    label {
      margin-bottom: 0;
    }
  }

/*GRID*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
/*
.block1 {
  
  padding: 20px;
}

.block2 {
  
  padding: 20px;
}
*/

/*BOTON ENVIAR*/
.crear-deck-container {
  margin-top: 30px;
}

/*BORDES GRIDS*/
.block1 {
  border: 1px solid #1D3E67;
  margin: 10px;
  padding: 10px;
}

.block2 {
  border: 1px solid #1D3E67;
  margin: 10px;
  padding: 10px;
}

/*LISTA DECKS*/

/* Estilos generales de la tabla */
.deck-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.deck-table thead {
  background-color: #0a141d;
}

.deck-table th,
.deck-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #0a141d;
}

/* Estilos específicos de la columna de imagen */
.deck-table .arquetipo-image {
  display: flex;
  align-items: center;
}

.deck-table .arquetipo-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;

}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .deck-table {
    border: 0px;
  }

  .deck-table thead {
    display: none;
  }

  .deck-table tbody,
  .deck-table tr {
    display: block;
    border: 1px solid #0a141d;
    margin-bottom: 10px;
  }

  .deck-table td {
    border: none;
    position: relative;
    padding: 8px;
    font-size: 14px;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .deck-table td::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: bold;
    font-size: 12px;
  }

  .deck-table .arquetipo-image {
    width: 60px;
    height: 60px;
  }

  .deck-table .arquetipo-image img {
    width: 100%;
    height: 100%;
  }

  /* Establecer un ancho fijo y centrar el contenido en la columna de Habilidad */
  .deck-table td:nth-child(2) {
    width: 100px;
    text-align: center;
  }

  /* Establecer un ancho fijo y centrar el contenido en la columna de Top */
  .deck-table td:nth-child(3) {
    width: 80px;
    text-align: center;
  }

  /* Ocultar columnas no deseadas en mobile */
  .deck-table th:nth-child(4),
  .deck-table td:nth-child(4),
  .deck-table th:nth-child(5),
  .deck-table td:nth-child(5),
  .deck-table th:nth-child(6),
  .deck-table td:nth-child(6) {
    display: none;
  }

  .deck-table th {
    vertical-align: middle;
  }
}

/*BOTONES DECKS*/
/* ... (otros estilos) */

.button-row {
  display: flex;
  justify-content: space-between;
}

.deck-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.decksbuttons-rr{
  display: grid;
  grid-gap: 10px;
  gap: 10px;
}

/*BOTONES DECKS*/
/* ... (otros estilos) */

/* Estilos para los botones */
/* ... (otros estilos) */

/* Estilo de los botones */
.deck-button button {
  width: 100%;
  height: 45px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Cambia a 0.3s para hacer la transición más rápida */
}
.decksbuttons {
  display: grid;
  gap: 10px;
}

.decksbuttons button {
  flex: 1 1 calc(20% - 2*10px); /* Cada botón ocupa 20% del ancho del grid, descontando el espacio entre ellos */
  margin: 3px;
  padding: 1px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #a9bcc3, rgba(169, 188, 195, 0.8)); /* Gradiente de fondo */
  color: #000; /* Texto negro */
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Cambia a 0.3s para hacer la transición más rápida */
  border: 3px solid #212529; /* Borde de 1px en color negro */
}

.decksbuttons button:hover {
  transform: translateX(10px); /* Añade esto */
  /*color: #ffff; /* Asegura que el color del texto permanece blanco al pasar el cursor */
  background-color: #0a141d; /* Asegura que el color de fondo permanece constante al pasar el cursor */
}

/* Añade esto para mover el botón al hacer clic */
.decksbuttons button:active {
  transform: translateX(15px);
}


.decksbuttons button .arquetipo-image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
/* Estilo del icono del Deck Hoy */
.deck-icon-new {
  display: flex;

  position:relative;

/*  top: -16px;
  right: -68px;
  width: 2.6em; */
  top: -6px;
  right: -8px;
  width: 2em;

}


/* Media query para móviles */
@media (max-width: 600px) {

  .deck-icon-new{
  /*  right: -18px; */
  height: 60%;
  }

  .decksbuttons {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Los botones se ajustan automáticamente al ancho de la pantalla */
  }

  .decksbuttons button {
    flex: 1 1 calc(50% - 5px); /* Cada botón ocupa 50% del ancho del grid en móviles, descontando el espacio entre ellos */
    font-size: 10px; /* Ajusta el tamaño de la letra en móviles */
  }

  .decksbuttons button .arquetipo-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .deck-buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Los botones se ajustan automáticamente al ancho de la pantalla */
    gap: 5px; /* Espacio entre los botones */
  }
}

/* Media query para tablets */
@media (max-width: 1024px) {
  .decksbuttons {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Los botones se ajustan automáticamente al ancho de la pantalla */
  }

  .decksbuttons button {
    flex: 1 1 calc(33.33% - 10px); /* Cada botón ocupa 33.33% del ancho del grid en tablets, descontando el espacio entre ellos */
    font-size: 12px; /* Ajusta el tamaño de la letra en tablets */
  }

  .decksbuttons button .arquetipo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .deck-buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Los botones se ajustan automáticamente al ancho de la pantalla */
    gap: 10px; /* Espacio entre los botones */
  }
}

/* Estilo del icono del Deck Hoy */



/* Estilos para el botón "Mostrar Más" */
.show-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-more-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #5093bc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #387da7;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .deck-table {
    font-size: 14px;
  }
}









