table {
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid white;
    padding: 1rem;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }